@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/** ****************************************************************************
OVERALL LAYOUT
** ************************************************************************** **/

html,
body {
    overflow-x: hidden;
    background: #F7F9FF;
    min-width: 290px;
    position: relative;
}

body {
    padding-top: 76px;
    font-family: poppins;
    font-size: 15px;
    zoom: 0.85;
}

body.overflow-hidden {
    overflow: hidden !important;
    max-height: 115vh;
}

.zoom-90 {
    zoom: 0.9 !important;
}

.zoom-100 {
    zoom: 1 !important;
}

main.container {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    z-index: 100;
    width: 100%;
    max-width: 1800px;
    min-height: 80vh;
    padding-bottom: 50px;
}

main.container:not(.web),
.body-with-sidebar footer {
    padding-left: 280px;
    padding-right: 30px;
    padding-top: 30px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}

.links a {
    margin-bottom: 5px;
    display: inline-block;
}

.links a:hover:not(.inactive),
footer .links a:active:not(.inactive),
.btn-hover:hover,
.btn-hover.active {
    background: rgba(4, 226, 160, 1) !important;
    color: #fff !important;
}

@media (max-width: 991.98px) {
    main.container {
        min-height: 50vh;
        padding-bottom: 30px !important;
    }
    main.container:not(.web),
    .body-with-sidebar footer {
        padding-left: 20px;
        padding-top: 20px;
        max-width: 100%;
    }
    body {
        zoom: 0.85;
        padding-top: 56px;
        padding-bottom: 70px !important;
    }
}

@media (max-width: 767px) {
    footer {
        position: relative;
    }
}

.page-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    z-index: 20000000;
}

.page-loader img {
    width: 150px;
    position: fixed;
    left: 50%;
    top: 45%;
    margin-left: -75px !important;
}


/** Scrollbar ************************* **/


/* width */

.mini-scrollbar::-webkit-scrollbar,
.dataTables_scrollBody::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

.mini-scrollbar::-webkit-scrollbar-track,
.dataTables_scrollBody::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

.mini-scrollbar::-webkit-scrollbar-thumb,
.dataTables_scrollBody::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 5px;
}


/* Handle on hover */

.mini-scrollbar::-webkit-scrollbar-thumb:hover,
.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background: rgb(179, 179, 179);
}


/** ****************************************************************************
GLOBAL ELEMENTS AND STYLES
** ************************************************************************** **/

.text-nowrap {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.text-theme {
    color: #20c997;
}

.text-justify {
    text-align: justify;
}

.bg-theme {
    background-color: #00ced4;
}

.bg-standard {
    background-color: #F7F9FF !important;
}

.text-standard {
    color: #aaaaaa !important;
}

.bg-grad {
    background: #06c996;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #06c996 0%, #06c9b9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #06c996 0%, #06c9b9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #06c996 0%, #06c9b9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#06c996 ', endColorstr='#06c996 ', GradientType=1);
    color: #fff;
}

.bg-dark {
    background: #454d68 !important;
}

.bg-overlay {
    height: 130px;
    width: 100%;
    position: absolute;
    top: 76px;
    left: 0;
    z-index: 5;
}

.input-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    width: 100%;
    height: 100%;
    background: #fff;
    cursor: pointer;
}

a,
a:hover {
    color: unset;
    text-decoration: none;
}

.btn {
    font-size: 0.8rem;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 10px;
}

.btn-primary {
    background: #06c9b9;
}

.btn-success {
    background: #06c9b3;
}

.btn-primary-inverse {
    border: 1px solid #20c997;
    padding: 10px 25px;
    background: none;
    color: #20c997;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary-inverse:hover,
.btn-primary-inverse:active,
.btn-primary-inverse:focus {
    background: unset;
    color: #20c997;
    border: 1px solid #20c997;
    box-shadow: none !important;
    outline: none !important;
}

.btn-info {
    background: #00ced4;
}

.btn-action {
    width: 40px;
    display: inline-block;
    padding: 0px 10px;
}

.btn-action:active,
.btn-action:focus {
    box-shadow: none !important;
    outline: none !important;
}

.btn-disabled {
    opacity: .7;
    cursor: default !important;
    pointer-events: none;
}

input,
button,
select,
textarea,
input:focus,
button:focus,
select:focus,
textarea:focus,
input:active,
button:active,
select:active,
textarea:active {
    outline: none !important;
    box-shadow: none !important;
}

select {
    -moz-appearance: auto !important;
    -webkit-appearance: auto !important;
}

.error-input {
    border: 1px solid red !important;
    background: rgb(255, 249, 249);
}

.form-control {
    border: 1px solid #ccf2ef;
    padding: 10px 10px;
}

h1 {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
}

img {
    object-fit: contain;
}

@media (max-width: 991.98px) {
    h1 {
        margin: 15px;
    }
    .text-justify {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .btn-primary-inverse span {
        display: none;
    }
}


/** ****************************************************************************
HEADER / NAV BAR
** ************************************************************************** **/

nav {
    border: none !important;
}

nav:not(.pagintation-cont nav) {
    background: #fff;
    color: #222;
    height: 76px;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.nav-link {
    color: unset;
    padding: 12px 5px !important;
    border-radius: 0.7rem;
    margin-top: 5px;
}

.nav-link:hover,
.nav-link.active,
.nav-link:focus {
    background: rgba(4, 226, 160, 0.2);
    color: #20c997;
    -webkit-animation: colorchange 2s infinite alternate;
}

.nav-link:hover i,
.nav-link.active i,
.nav-link:focus i {
    -webkit-animation: marginchange 1s infinite alternate;
}

.navbar-brand {
    height: 74px;
    width: 250px;
}

.navbar-brand img {
    height: 45px;
    margin: 10px 15px;
}

.nav-item,
.dropdown-item {
    color: #697887;
}

.nav-item a {
    display: flex;
}

.nav-item a i {
    margin-right: 10px;
}

.nav-item.divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    margin-top: 7px;
}

.nav-item.user-info img {
    width: 90px;
    height: 90px;
    border-radius: 75px;
    object-fit: contain;
}

.sidebar-default {
    position: fixed;
    top: 76px;
    bottom: 0;
    left: 0;
    border: none !important;
    width: 250px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: hidden;
    background-color: #fff;
    color: #000;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 1038;
}

.sidebar-default:hover {
    overflow-y: auto;
}


/**sidebar Icon toggle **/

.hamburger {
    display: inline-block;
    left: 0px;
    position: relative;
    top: -5px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 26px;
    z-index: 999;
    margin-right: 5px;
}

.hamburger .line {
    background: #20c997;
    display: block;
    height: 3px;
    border-radius: 3px;
    ;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger .line:nth-child(1) {
    width: 26px;
}

.hamburger .line:nth-child(2) {
    width: 26px;
}

.hamburger .line:nth-child(3) {
    width: 15px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover .line {
    width: 26px;
}


/** Bootstrap tabs and pills **/

.nav-pills .nav-link {
    padding: 2px 5px !important;
}

.nav-pills .nav-link:hover {
    color: #fff !important;
    background: #20c997 !important;
}

@media (max-width: 767px) {
    nav {
        z-index: 10000 !important;
        background: #06c6b5 !important
    }
    .hamburger .line {
        background: #fff;
    }
}

@media (max-width: 991.98px) {
    .sidebar-default {
        left: 100%;
        width: 100%;
        max-width: 600px;
        visibility: hidden;
        overflow-y: auto !important;
        top: 56px;
        z-index: 11000;
        padding-top: 0px;
    }
    .sidebar-default.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    main.container {
        padding: 10px !important;
    }
    nav:not(.pagintation-cont nav) {
        height: 56px;
    }
    .navbar-brand img {
        height: 40px;
    }
    .nav-item.divider {
        display: none;
    }
    .navbar-brand {
        position: relative;
        background: unset;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .navbar-brand img {
        margin: 0 auto;
        margin-left: 15px;
    }
    .sidebar-default .nav-item {
        border-top: 1px solid #eee;
        padding: 3px !important;
    }
    .sidebar-default .nav-item a i {
        display: inline;
        margin-right: 5px;
        width: 100%;
        font-size: 18px;
    }
}


/** ****************************************************************************
Tables and Table Plugins
** ************************************************************************** **/

table {
    border-spacing: 0 10px;
    border-collapse: separate;
}

th {
    border-bottom: none;
    padding-bottom: 15px;
    background: #fff !important;
}

tbody tr td {
    background: #F7F9FF !important;
    border-bottom: none;
    padding: 12px !important;
}

tbody tr td:first-child {
    border-radius: 0.7rem 0 0 0.7rem;
    padding-left: 25px !important;
}

tbody tr td:last-child {
    border-radius: 0 0.7rem 0.7rem 0;
}

tbody tr:hover td {
    background: #cdf8ed !important;
}

.col-xs {
    /* width: 40px !important; */
    min-width: 40px !important;
}

.col-sm {
    /* width: 100px !important; */
    min-width: 100px !important;
}

.col-md {
    /* width: 140px !important; */
    min-width: 140px !important;
}

.col-lg {
    /* width: 180px !important; */
    min-width: 180px !important;
}

.col-xl {
    /* width: 250px !important; */
    min-width: 250px !important;
}

.sticky-col {
    position: -webkit-sticky !important;
    position: sticky !important;
}

.col-hidden {
    display: none !important;
}

@media (max-width: 767px) {
    th,
    td {
        width: auto !important;
        max-width: unset !important;
        min-width: auto !important;
        left: auto !important;
    }
    table {
        width: 100% !important;
    }
    tbody tr td {
        background: #fff !important;
        border-top: 1px solid #ddd;
        border-bottom: none;
        padding: 15px 0px 15px 10px !important;
    }
    tbody tr:hover td {
        background: #e7fdfd !important;
    }
    .table-mobile thead {
        display: none;
    }
    .table-mobile tbody tr td {
        display: block;
        background: #f5f7f8 !important;
        padding: 10px !important;
        text-align: left !important;
        border-radius: 0 !important;
    }
    .table-mobile tbody tr td:before {
        content: attr(label);
        font-weight: bold;
        margin-right: 7px;
    }
    .table-mobile tbody tr td:hover,
    .table-mobile tbody tr td:active,
    .table-mobile tbody tr td:focus {
        background: unset !important;
    }
    .table-mobile tbody tr td:first-child {
        background: rgba(0, 206, 212, 1) !important;
        border-top: 10px solid #fff !important;
        padding: 15px 10px !important;
        color: #fff;
        font-weight: bold;
        border-radius: 0 !important;
    }
    .table-mobile tbody tr td:first-child:before {
        /**font-family: "Font Awesome 5 Pro";**/
        /**content: "\f054";**/
        content: "- ";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
    }
}


/** ****************************************************************************
COMMON ELEMENTS TO ALL SITES
** ************************************************************************** **/


/** BANNER ELEMENTS **/

.banner-cont {
    width: 100%;
    position: relative;
    height: 500px;
    padding-bottom: 200px !important;
    overflow: hidden;
}

.banner-cont .curve-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.banner-cont .curve-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    min-width: 600px;
    height: 60px;
}

.banner-cont .curve-divider .shape-fill {
    fill: #F7F9FF;
}

.banner-cont .bubble {
    opacity: 0.05;
    position: absolute;
}

.banner-cont .bubble.left {
    top: 0%;
    left: -50%;
}

.banner-cont .banner-img {
    position: absolute;
    right: 5%;
    bottom: -100px;
    height: 600px;
}

.search-box-main {
    position: absolute;
    top: -175px;
    margin: 0 auto;
}

.search-box-main input,
.search-box-main input:focus,
.search-box-main input:active,
.search-box-main input::placeholder {
    font-size: 1.5rem;
    font-weight: 600 !important;
    box-shadow: none !important;
    outline: none !important;
    color: #20c997;
}

.placeholder-animation::placeholder {
    color: #b4b4b4 !important;
}

.placeholder-animation:focus::placeholder {
    color: #fff;
}

.banner-cont h1 {
    position: absolute;
    top: 150px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    opacity: 1;
    text-shadow: 2px 2px 15px #43a491;
}

.d-tile p {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1000px) {
    .banner-cont h1 {
        font-size: 2.4rem;
    }
    .banner-cont {
        background: linear-gradient(1deg, #06c996 0%, #06c9b9 100%);
    }
}

@media (min-width: 767px) {
    .mobile-filter,
    .mobile-filter-overlay {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .banner-cont {
        height: 300px;
        position: fixed;
    }
    .search-cont {
        position: relative;
        background: #F7F9FF;
        padding-bottom: 70px;
    }
    .curve-divider-mobile {
        margin-top: 280px;
        height: 90px;
        margin-bottom: -40px;
        width: 120%;
        margin-left: -10%;
        border-radius: 100% 100% 0 0;
        position: relative;
        box-shadow: 0px 5px 20px 13px rgb(0 0 0 / 5%) !important;
    }
    .banner-cont .curve-divider svg {
        width: calc(100% + 1.3px);
        height: 42px;
        display: none;
    }
    .search-box-main input,
    .search-box-main input:focus,
    .search-box-main input:active,
    .search-box-main input::placeholder {
        font-size: 14px;
    }
    .banner-cont h1 {
        top: 105px;
        font-size: 1.5rem;
        width: 95%;
        text-shadow: 2px 2px 15px rgb(29 98 85 / 50%)
    }
    .banner-cont .banner-img {
        right: -100px;
        bottom: -100px;
        height: 430px;
    }
    .search-box-main {
        top: 0px;
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 20px;
        z-index: 200;
    }
    .mobile-filter {
        position: fixed;
        bottom: 70px;
        left: 0;
        width: 100%;
        z-index: 2500;
        border-radius: 150px 150px 0 0 !important;
        border: 1px solid #eee;
        display: none;
        max-height: 85vh;
        overflow-y: auto;
    }
    .mobile-filter-overlay {
        background: rgba(0, 0, 0, 0.1);
        position: fixed;
        bottom: 75px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2000;
        display: none;
    }
    .close-btn,
    .mobile-filter-btn {
        display: inline-block !important;
    }
    .mobile-fixed-footer-menu {
        position: fixed;
        bottom: 60px;
        width: 100%;
        left: 0;
        border-radius: 0 !important;
        padding-bottom: 28px !important;
    }
}


/** END OF BANNER ELEMENTS **/

.full-screen {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1040 !important;
    padding-bottom: 50px !important;
}

.full-screen .dataTables_scrollBody {
    padding-bottom: 7px;
    max-height: 97vh;
    overflow-y: auto;
}

.search-box {
    position: relative;
}

.search-box input {
    border: none;
    padding-left: 40px;
    border-radius: 0.7rem 0 0 0.7rem;
}

.search-box button {
    border: none;
    padding: 5px 25px;
    border-radius: 0 0.7rem 0.7rem 0;
}

.search-box .search-icon {
    position: absolute;
    left: 25px;
    top: 12px;
    color: #888;
    font-size: 14px;
}

.page-heading {
    margin: 0;
    margin-bottom: 15px;
    padding: 20px;
    width: 100%;
    font-weight: 600;
    font-size: 1.1rem;
    border: 1px solid #e6e7ee;
    background: #fff;
    /**background: linear-gradient(135deg, #06c996  0%, #06c9b9 100%);
    color:#fff;**/
}

.main-page-heading {
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.8;
}

.filter-cont {
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    background: #fff;
    border-radius: 0.7rem;
}

.filter-cont input[type="text"] {
    background: #F7F9FF;
}

.shadow-sm {
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.02) !important;
    border: 1px solid #e6e7ee;
}

.shadow-md {
    box-shadow: 0px 5px 5px 0px rgb(82 63 105 / 3%) !important;
    border: 1px solid #e6e7ee;
}

.rounded {
    border-radius: 0.7rem !important;
}

@media (max-width: 767px) {
    .page-heading {
        /**background: linear-gradient(135deg, #06c996  0%, #06c9b9 100%);**/
        color: #06c9b3;
        padding: 10px;
        border: 1px solid #06c9b3;
        font-size: 16px;
    }
    .main-page-heading {
        background: #fff !important;
        color: #06c9b3 !important;
        font-size: 16px;
        padding: 15px !important;
    }
    .mobile-footer {
        display: flex !important;
        justify-content: space-evenly;
        padding-bottom: env(safe-area-inset-bottom);
        box-shadow: -3 .225rem .25rem rgba(0, 0, 0, .075) !important;
        position: fixed;
        text-align: center;
        width: 100%;
        bottom: 0px;
        padding-top: 7px;
        left: 0px;
        z-index: 1037;
    }
    .mobile-footer .footer-icon i {
        font-size: 20px;
        margin-right: 2px;
        padding: 0;
        color: #303030;
        font-size: 22px;
        font-weight: 100;
    }
    .mobile-footer .footer-icon span {
        font-size: 0.7rem;
        display: block;
        color: #303030;
        margin-top: -2px;
        margin-bottom: 10px;
    }
    .mobile-footer a:focus {
        box-shadow: none !important;
        border: none !important;
    }
    .mobile-footer a.active * {
        color: #20c997;
    }
    main.container {
        margin-top: 0px !important;
    }
    .d-tile .rounded {
        position: relative;
    }
    .d-tile h5 {
        position: absolute;
        right: 15px;
        font-size: 1.5rem;
    }
    .d-tile p {
        padding-top: 5px;
        margin-left: 10px !important;
        font-size: 1rem;
        color: #666;
    }
    .d-tile>a>.rounded {
        display: flex;
        padding: 0.5rem !important;
    }
    .page-heading {
        position: relative;
        padding-left: 10px;
        text-align: center;
    }
    .dashboard-tiles {
        margin-top: 20px;
    }
}


/** ****************************************************************************
COMMON PLUGINS STYLE OVERWRITES - DATATABLES, SELECT2 ETC
** ************************************************************************** **/

.searchable-select option {
    display: none;
    padding: 0;
}

.select2-container {
    display: block;
    width: 100% !important;
    min-height: 38px !important;
}

.select2-container .select2-selection {
    border: 1px solid #ccf2ef;
    min-height: 45px !important;
}

.select2-selection__choice {
    padding: 4px 20px !important;
    padding-right: 30px !important;
    border-radius: 0.7rem !important;
    border: none !important;
    background: rgba(105, 120, 135, 0.2) !important;
}

.select2-selection__choice button {
    border: none !important;
    height: 20px;
    width: 20px;
    right: 4px;
    left: unset !important;
    top: 4px !important;
    border-radius: 50% !important;
    background: #FF4A16 !important;
    color: #fff !important;
}

.select2-container .select2-selection--multiple {
    min-height: 38px;
}

.dataTables_length,
.dataTables_filter {
    display: none;
}

.dataTables_info {
    font-weight: bold;
}

.dataTables_scrollBody {
    padding-bottom: 7px;
    max-height: calc(100vh - 210px);
    min-height: 300px;
    overflow-y: auto;
}

.dataTables_wrapper .col-sm-12 {
    max-width: 100%;
    overflow-x: auto;
}

.dataTables_paginate a {
    padding:3px 10px;
    margin-left:8px;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
}

.dataTables_paginate a.current {
    background: #ffb4b4;
}

.dataTables_paginate a:hover {
    background: #ddd;
}

.sorting_disabled::before,
.sorting_disabled::after {
    display: none !important;
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
}

.tool-tip {
    cursor: pointer;
    color: #999 !important;
}

.icon-password {
    position: absolute;
    top: 0px;
    margin-top: 10px;
    right: 10px;
}

@media (max-width: 767px) {
    .dataTables_scrollBody {
        max-height: unset !important;
        padding-top: 5px;
    }
    .dataTables_scrollHead {
        display: none;
    }
    #dlength-sel {
        display: none;
    }
}


/** ****************************************************************************
ECOMMERCE ELEMENTS
** ************************************************************************** **/

.product-tile-cont {
    min-width: 260px;
    max-width: 400px;
}

.product-tile {
    border-radius: 0.7rem;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 25px;
}

.product-tile h5 {
    font-size: 1rem;
}

.product-tile .img-cont,
.prod-thumbnail {
    width: 100%;
    height: 140px;
    max-height: 140px;
    overflow: hidden;
}

.product-tile img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.7rem 0.7rem 0 0;
    transition: all 3s;
}

.product-tile img:hover {
    transform: scale(2);
    transform-origin: 50% 50%;
}

.img-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    overflow-y: auto;
    z-index: 2000;
}

.img-viewer img {
    width: 100%;
    object-fit: contain;
}

.preview {
    cursor: pointer;
}


/** ****************************************************************************
UTILITY CLASSES
** ************************************************************************** **/

.bradius-bottom {
    border-radius: 0 0 0.7rem 0.7rem !important;
}

.border-top-1 {
    border-top: 1px solid #ccc;
}

.number {
    text-align: right;
}

.scrollable-cont-x{
    overflow-x: auto;
    max-width: 100%;
}

.scrollable-cont-y{
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

table.nowrap td, table.nowrap th, .nowrap{
    white-space: nowrap;
    border-bottom: 5px solid #fff;
}

.col-md-2 {
    min-width: 150px;
}

.font-200 {
    font-size: 2rem;
}

.font-300 {
    font-size: 4.5rem;
}

.font-150 {
    font-size: 1.5rem;
}

.font-120 {
    font-size: 1.2rem;
}

.font-100 {
    font-size: 1rem;
}

.font-80 {
    font-size: 0.8rem;
}

.font-70 {
    font-size: 0.7rem;
}

.font-0 {
    font-size: 1px;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 767px) {
    .font-120 {
        font-size: 1rem;
    }
}


/** ****************************************************************************
ANIMATIONS
** ************************************************************************** **/

@keyframes colorchange {
    0% {
        background: rgba(4, 226, 160, 0.2);
        color: rgba(4, 226, 160, 1);
    }
    100% {
        background: rgba(1, 189, 179, 0.2);
        color: rgba(1, 189, 179, 1);
    }
}

.margin-animation {
    -webkit-animation: marginchange 1s infinite alternate;
}

@keyframes marginchange {
    0% {
        margin-left: 5px;
    }
    100% {
        margin-left: 15px;
    }
}

.ring-animation {
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }
    1% {
        transform: rotate(30deg);
    }
    3% {
        transform: rotate(-28deg);
    }
    5% {
        transform: rotate(34deg);
    }
    7% {
        transform: rotate(-32deg);
    }
    9% {
        transform: rotate(30deg);
    }
    11% {
        transform: rotate(-28deg);
    }
    13% {
        transform: rotate(26deg);
    }
    15% {
        transform: rotate(-24deg);
    }
    17% {
        transform: rotate(22deg);
    }
    19% {
        transform: rotate(-20deg);
    }
    21% {
        transform: rotate(18deg);
    }
    23% {
        transform: rotate(-16deg);
    }
    25% {
        transform: rotate(14deg);
    }
    27% {
        transform: rotate(-12deg);
    }
    29% {
        transform: rotate(10deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    33% {
        transform: rotate(6deg);
    }
    35% {
        transform: rotate(-4deg);
    }
    37% {
        transform: rotate(2deg);
    }
    39% {
        transform: rotate(-1deg);
    }
    41% {
        transform: rotate(1deg);
    }
    43% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}


/** ****************************************************************************
ICONS
** ************************************************************************** **/

.icon-dash {
    height: 60px;
    width: 60px;
    padding: 12px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    display: block !important;
}

.icon-info {
    background: rgba(28, 146, 210, 1);
    color: #fff;
}

.icon-warning {
    background: rgba(255, 171, 0, 1);
    color: #fff;
}

.icon-danger {
    background: rgba(255, 74, 22, 1);
    color: #fff;
}

.icon-success {
    background: rgba(19, 219, 112, 1);
    color: #fff;
}

.icon-primary {
    background: rgba(0, 206, 212, 1);
    color: #fff;
}

.icon-corner {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    padding: 1px;
    text-align: center;
    top: 5px;
    right: 5px;
    background: #13DB70;
    color: #fff;
    cursor: pointer;
}

.icon-corner.close {
    background: #FF4A16;
}

.icon-wlist {
    color: #B4BBC3;
    font-size: 18px;
    cursor: pointer;
}

.icon-wlist.added {
    color: #FF4A16;
}

.header-icon.active {
    color: #20c997;
}

.header-icon,
.header-icon:active {
    outline: none !important;
    box-shadow: none !important;
    padding-left: 0;
}

.header-icon i {
    font-size: 20px;
    margin-right: 2px;
    background: #eee;
    padding: 10px 12px;
    border-radius: 50%;
}

.header-icon:hover i {
    color: #fff;
    background: #20c997;
}

.notification-cont {
    background: #20c997;
    color: #fff;
    margin-left: -15px;
    margin-top: -5px;
    border-radius: 0.7rem;
    padding: 1px 7px;
    position: absolute;
}

.header-icon:hover .notification-cont {
    color: #20c997;
    background: #fff;
}

.header-icon-cont {
    margin-right: 30px;
}

@media (max-width: 767px) {
    .icon-corner {
        display: none !important;
    }
}


/** ****************************************************************************
MESSAGES/CHAT
** ************************************************************************** **/

.sidebar-default.secondary {
    left: 255px;
    width: 350px;
}

.message-divs {
    position: fixed;
    left: 615px;
    width: calc(100% - 625px);
}

.message-header {
    top: 86px;
    background: #fff;
    border: 1px solid #e6e7ee;
}

.message-body {
    top: 166px;
    bottom: 100px;
    overflow-y: auto;
}

.message-footer {
    bottom: 10px;
    height: 85px;
    background: #fff;
    border: 1px solid #e6e7ee;
}


/** bubbles **/

.msg-bubble {
    box-shadow: 0 1px 7px 0px rgb(0 0 0 / 9%);
    position: relative;
    max-width: 80%;
    width: auto;
    padding: 10px 15px;
    border-radius: 2rem;
    margin-top: 8px;
    display: inline-block;
}

.msg-bubble.from {
    background: #fff;
    margin-left: 20px;
}

.msg-bubble.to {
    background: #06c996;
    margin-right: 20px;
    color: #fff;
}

.msg-bubble img {
    position: absolute;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    object-fit: cover;
    top: 50%;
    margin-top: -13px;
}

.msg-bubble.from img {
    left: -30px;
}

.msg-bubble.to img {
    right: -30px;
}


/** end of bubbles **/

@media (max-width: 991.98px) {
    .message-body {
        padding-left: 0;
    }
    .message-divs {
        position: fixed;
        left: 15px;
        width: calc(100% - 30px);
    }
    .message-footer {
        bottom: 80px;
    }
}


/** ****************************************************************************
OTHER STYLES - PLEASE WRITE ALL SITE_SPECIFIC STYLES BELOW THIS
** ************************************************************************** **/

.text-of {
    overflow: hidden;
    text-overflow: ellipsis;
}

.slider-img {
    height: 350px;
    object-fit: cover;
}


/** --------------------------------- **/

.app-card {
    cursor: pointer;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.app-card .card-badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0.7rem 0 0.7rem;
    font-size: 10px;
}

.app-card .actions {
    display: none !important;
}

.app-card:hover .actions {
    display: flex !important;
}

.app-card .details {
    overflow-x: hidden;
}

.app-card:hover .more-details {
    display: none !important;
}

.app-card .img-cont {
    height: 80px;
    width: 80px;
    min-width: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
}

.app-card img {
    height: 80px;
    width: 80px;
    min-width: 80px;
    object-fit: contain;
    border-radius: 50%;
    transition: all 1s;
}

.app-card .text-dp {
    height: 80px;
    width: 80px;
    min-width: 80px;
    object-fit: contain;
    border-radius: 50%;
    transition: all 1s;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #8f97aa;
    text-align: center;
    text-transform: uppercase;
    background: #d9deeb;
}

.app-card2 .img-cont,
.app-card2 img,
.app-card2 img {
    height: 30px;
    width: 30px;
    min-width: 30px;
    margin-right: 8px;
    transform: scale(1) !important;
}

.app-card2:hover .details {
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-card3 .img-cont,
.app-card3 img,
.app-card3 img {
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-right: 8px;
    transform: scale(1) !important;
}

.app-card:hover img {
    filter: none;
    opacity: 1;
    /**transform: scale(1.5);
    transform-origin: 50% 50%;**/
}

@media (max-width: 767px) {
    .app-card:not(.app-card2,
    .app-card3) img,
    .app-card:not(.app-card2,
    .app-card3) .img-cont {
        height: 60px;
        width: 60px;
        min-width: 60px;
    }
    .app-card .img-cont {
        margin-top: 5px;
    }
    .app-card .text-dp {
        height: 60px;
        width: 60px;
        min-width: 60px;
        padding: 10px;
        font-size: 30px;
    }
}

.app-card h4 {
    font-weight: 700;
    margin: 0;
    margin-top: 8px;
    font-size: 0.92rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-card p {
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.app-card p.field {
    color: #20c997;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.app-card .detail-cont,
.detail-cont,
.detail-btn {
    margin: 0;
    padding: 5px;
    width: 100%;
    margin: 5px 5px 0 5px;
    background-color: #F7F9FF;
    color: #8f96ac;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 14px;
}

.detail-cont2 {
    width: 70px !important;
}

.detail-btn:hover {
    cursor: pointer;
    background-color: #ced6ee;
    color: #6e7792;
}

.app-card .action-cont {
    margin: 0;
    padding: 5px;
    width: 100%;
    margin: 5px 5px 0 5px;
    border-radius: 0.7rem;
    text-align: center;
    font-size: 14px;
}

.app-card:hover .action-cont i,
.app-card:hover .detail-cont i {
    -webkit-animation: marginchange 1s infinite alternate;
}


/** --------------------------------- **/

.profile-img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

.object-item.selected .tick {
    color: rgb(5, 141, 69) !important;
}

.object-item.selected {
    background: rgba(19, 219, 112, 0.2) !important;
    border: 1px solid #1e9c59 !important;
}

.modal-content {
    margin-top: 100px !important;
}

/*horizontal scrollbar*/
.horizontal-scrollbar{
display: block;
overflow: auto;
white-space:nowrap;
}



/*Style the tab*/
/* .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #262626;
    width:600px;
} */
  
  /* Style the buttons inside the tab */
/* .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 61px;
    transition: 0.3s; 
    font-size: 18px;
    font-weight: bold;
    color:#ffffff
} */
  
  /* Change background color of buttons on hover */
/* .tab button:hover {
    background-color: #000000;
} */
  
  /* Create an active/current tablink class */
/* .tab button.active {
    background-color: #000000;
} */
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}
/* th{
    text-align:center; 
  } */
  
.show-in-print{
    display: none;
}


@media print {
    html, body{
        background: #fff !important;
        padding-top:0;
    }

    @page {
        size: auto;   /* auto is the initial value */
        margin: 15px;  /* this affects the margin in the printer settings */
    }

    .bg-body.rounded.shadow-sm{
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    nav.navbar, .sidebar-default, .search-box, .hide-in-print {
        display: none;
    } 

    .show-in-print{
        display: block;
    }

    tr.show-in-print{
        display: table-row;
    }

    td.show-in-print{
        display: table-cell;
    }

    main.container{
        padding:5px !important;
    }

    table{
        border-collapse: initial !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    thead tr th, tbody tr td, tbody tr:hover td{
        font-size: 13px !important;
        max-width:300px !important;
        border-top:1px solid #ddd !important;
        border-bottom:none !important;
        padding: 5px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        text-transform: uppercase;
    }

    tbody tr td, tbody tr:hover td{
        background: #fff !important;
    }

    .print-footer td{
        font-weight: bold !important;
        background: #eee !important;
    }

    tbody tr td:first-child{
        padding: 5px !important;
    }

    tfoot{
        display: none !important;
    }

    h1{
        text-align: center !important;
        margin: 0;
        font-size: 18px !important;
        font-weight:bold;
    }
}